.index-content {
  width: calc(100% - 5.3vw);
  margin: auto;
}

.mine-title {
  text-align: center;
}

.setting {
  background-color: #fff;
  border-radius: 2.7vw;
  display: flex;
  flex-direction: column;
  margin: 3vw;
  padding: 2vw;
}

.setting-item p {
  line-height: 5vw;
  color: #696969;
}

.gx-img {
  width: 5vw;
  height: 5vw;
  margin-right: 2.7vw;
}

.right-img {
  width: 5vw;
  height: 5vw;
  margin-right: 1.6vw;
}